<!DOCTYPE html>
<html>
<title>About Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="About.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

</style>
<body class="home-light-bluish home-content home-background" style="max-width:1600px" background="/background.jpg">

<!-- Sidebar/menu -->
<nav class="home-sidebar home-collapse home-custom home-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="home-container"> 
    <a href="#" onclick="home_close()" class="home-hide-large home-right home-jumbo home-padding home-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <img src="/me.jpg" style="width:45%;" class="home-round"><br><br>
    <h4><b>Profile</b></h4>
    <p class="home-text-grey"></p>
  </div>
  <div class="home-bar-block">
    <a href="#about" onclick="home_close()" class="home-bar-item home-button home-padding"><i class="fa fa-user fa-fw home-margin-right"></i>About</a> 
    <a href="#contact" onclick="home_close()" class="home-bar-item home-button home-padding"><i class="fa fa-envelope fa-fw home-margin-right"></i>Contact Us</a>
</div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="home-overlay home-hide-large home-animate-opacity" onclick="home_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="home-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">
    <a href="#"><img src="/Profile.png" style="width:65px;" class="home-circle home-right home-margin home-hide-large home-hover-opacity"></a>
    <span class="home-button home-hide-large home-xxlarge home-hover-text-grey" onclick="home_open()"><i class="fa fa-bars"></i></span>
    <div class="home-container">
    <h1><b>Home</b></h1>
    <div class="home-section home-bottombar home-padding-16">
      <span class="home-margin-right"></span> 
      <!-- <button class="home-button home-white">About</button>
      <button class="home-button home-white">Movie</button>
      <button class="home-button home-white home-hide-small">History</button>
      <button class="home-button home-white home-hide-small">Group</button>
      <button class="home-button home-white home-hide-small">Logout</button> -->
      <!-- <i class="fa fa-search"></i> -->
    </div>
    </div>
  </header>

  <!-- About -->
  <div class="about-row-padding">
    <h2>About</h2>
    <b><p>This is a multipurpose system that was designed by Group 13 as a part of the final assessment for Object Oriented Design course for Spring 2020. The system is called “MOVID-19”. The inspiration behind the name comes from the consequence of the real life social distancing orders by governments all around the world. This has left people without a lot of ways to get together with friends and family and enjoy with each other. Since a lot of people cannot go out of their homes and gather to do socially fun activities like watching movies in theaters, this system serves as the bridge between people deciding on a movie, voting for their choices and watching the winning movie together with each other online.</p>
    <p>The system revolves around the voting system that allows members to popularly select the movies that everyone will watch as a group online, mimicking a real life meeting at a theater and watching a movie together.</p>
    <p>People will become a part of a group that will consist of their friends and family members and will vote on which movie to watch on the website, rather than meeting together in real life and then deciding which movie to watch. This system will bring movies that are currently popular and in demand and people will be able to vote for the movies that they want to watch with everyone. Members of a group will also be able to watch the trailers and read reviews of all the movies that are available for their group, which will help them make their choice. Members will also be able to modify their vote after initially voting if they choose to. After a movie wins the voting round, that movie can be watched at any of the other popular movie platforms like Netflix, Prime Videos, Apple TV and more.</p>
    <p>Everything is controlled by a moderator which has the power to virtually do anything that they feel is necessary to keep the website working seamlessly. This includes the ability to invite people, add them as members in a group. Creating voting events which will end with a winning movie that the members of that group will watch. Moderator will also be able to populate the movies from the system.</p>
    <p>Members will have the ability to see all the movies that are available currently and vote for them as soon as a movie watching event is created for their group. They will also be able to manage their profile and do basic functions like watch movie trailers and read movie reviews for the movies that they are interested in.</p></b>
</div>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function home_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function home_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}
</script>

</body>
</html>